<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Instant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

  </head>
  <body>
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid">
          <div class="span6">
            <textarea id="editor" class="input-xlarge" rows="40">def binary_search(key, array)
   low = 0
   high = array.length - 1
end

binary_search('a', ['a', 'b', 'c', 'd', 'e', 'f'])</textarea>
          </div>
          <div class="span6">
            <pre id="output">
            </pre>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/coffee-script.js"></script>
<script type="text/coffeescript">
$ ->
  compile = ->
    val = $("#editor").val()
    $.ajax
      type: 'POST'
      url: '/compile'
      data:
        source: val
      success: (data) ->
        if data.status == "ok"

        else
          console.log "unexpected data:", data

        if data.result
          $("#output").text(data.result)
        else
          $("#output").text("(no output)")

      error: (x, t, e) ->
        console.log x, t, e
      dataType: 'json'

  compile()
  
  $("#editor").keyup (e) ->
    compile()

</script>
  </body>
</html>